@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  height: 100%;
}

.container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  color: #000000;
  display: flex;
}

.logo-link {
  padding-left: 70px;
  width: 138px;
  margin-right: 30px;
}

.page-navigation {
  width: 450px;
}

.user-navigation {
  width: 312px;
  padding-right: 70px;
  margin-left: auto;
}

.navigation-list {
  padding: 0;
  margin: 0;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.header-button {
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main,
.main-catalog {
  flex-grow: 1;
}

.welcome-block {
  background-color: #000000;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.welcome-block::after {
  content: '';
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(../images/hero-divider.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.preferences-card-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.preferences-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.preferences-card-description, .preferences-card-title {
  text-align: center;
}

.preferences-card-item {
  background-color: #83B3D31F;
  width: 400px;
}

.preferences-card-item:nth-child(odd) {
  background-color: #83B3D333;
}

.preferences-card-item.full-wide {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
}

.preferences-general-card-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.preferences-general-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.preferences-general-title, .preferences-general-text {
  text-align: center;
}

.preferences-general-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.preferences-general-card-description, .preferences-general-card-title {
  text-align: center;
}

.preferences-general-card-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.popup-link {
  text-align: center;
}

.popup-link-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.popup-link-text {
  font-size: 22px;
  line-height: 26px;
}

.button-hotels-search {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-color: #000000;
  color: #FFFFFF;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-special {
  background-image: none;
  background-color: #FFFFFF;
  color: #333333;
}

.subscribe-special h2 {
  color: #000000;
}

.email-form {
  width: 684px;
  margin: 0 auto
}

.email-input {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: 24px;
  color: #000000;
}

.email-submit {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  width: 190px;
  margin: left;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 720px;
  margin-left: auto;
  text-align: center;
}

.academy-logo {
  padding-right: 70px;
  width: 115px;
  margin-left: 41.5px;
}

.filters {
  background-color: #000000;
  background-image: url(../images/filters-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.filters-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.filters-group .filters-title {
  font-size: 20px;
  line-height: 24px;
}

.control-input-text {
  font-size: 18px;
  line-height: 23px;
}

.filters-range-input {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: 24px;
  color: #000000;
}

.button-apply {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.button-reset {
  background-color: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotels-find {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.viewing-order {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: 24px;
  color: inherit;
  background-color: #FFFFFF;
}

.product-card-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card-item {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.product-card-item a {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.prodact-card-type {
  font-size: inherit;
  text-align: inherit;
  color: inherit;
}

.prodact-card-price {
  font-size: inherit;
  text-align: inherit;
  color: inherit;
}

.product-card-link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-favorite-add {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  text-align: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-favorite-added {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 16px;
  text-align: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.product-card-rating {
  font-size: 16px;
  text-align: 20px;
  text-transform: uppercase;
}

.filters,
.catalog-cards,
.product-card-container {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.pagination {
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.pagination-item {
  width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-item-dots {
  background-color: inherit;
}

.pagination-link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
}
